@{
    ViewData["Title"] = "Shopping Cart";
}
@model List<PymeCafe.Models.Detallespedido>

<h2>Your Cart</h2>

<table class="table" id="cartTable">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody id="cartBody">
        @foreach(var item in Model) {
            <tr>
                <td>@item.Producto.NombreProducto</td>
                <td>@item.Cantidad</td>
                <td>@item.PrecioUnitario</td>
            </tr>
        }
    </tbody>
</table>

<h3>Total: <span id="totalCost">@ViewBag.Total</span></h3>

<a asp-action="LimpiarCarrito" asp-controller="Tienda" class="btn btn-customRed" id="clearCart">Clear Cart</a>
<a href="@Url.Action("Checkout", "Tienda")" class="btn btn-custom">todo listo para pagar</a>
