@model IEnumerable<PymeCafe.Models.Valoracionesdeproducto>

@{
    ViewData["Title"] = "Index";
}

<h1>Valoraciones de producto</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.ProductoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ValoracionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ValoracionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ValoracionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
